/* Toggle Switch Styles */
.botsmap-toggle {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.botsmap-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.botsmap-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 24px;
}

.botsmap-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.botsmap-toggle input:checked + .botsmap-slider {
  background-color: #4CAF50;
}

.botsmap-toggle input:checked + .botsmap-slider:before {
  transform: translateX(26px);
}

